<p>
  <!-- {{ cards | json}} -->
</p>

<div class="container">
  <div class="row">
    <div class="col-12" *ngIf="info$ | async as info">
      <form #monForm="ngForm" (ngSubmit)="submit(monForm)">
        <input
          [(ngModel)]="query"
          type="search"
          class="form-control"
          required
          minlength="3"
          name="queryControl"
        />
        <!-- N'affiche les erreures que lorsque le form est submitted -->
        <!-- utiliser pipe pour afficher le json : {{ minlength | json }} -->
        <ng-container *ngIf="monForm.submitted">
          <ng-container *ngIf="monForm.controls.queryControl?.errors as errors">
            <ng-container *ngIf="errors.required">
              <div class="help-text text-danger">Il est requis</div>
            </ng-container>
            <ng-container *ngIf="errors.minlength as minlength">
              <div class="help-text text-danger">
                Taille minimum non valid, requis : {{ minlength }}
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
        <button class="btn btn-dark btn-block" type="submit">Recherche</button>
      </form>

      <hr />

      <form [formGroup]="filterForm" (ngSubmit)="filter()">
        <div class="form-group">
          <label for="set">Set Name</label>
          <select
            id="set"
            name="set"
            class="form-control"
            formControlName="set"
          >
            <option *ngFor="let setName of info.sets" [ngValue]="setName">
              {{ setName }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="classe"> Classe Name</label>
          <select
            name="classe"
            id="classe"
            class="form-control"
            formControlName="classe"
          >
            <option
              *ngFor="let classeName of info.classes"
              [ngValue]="classeName"
            >
              {{ classeName }}
            </option>
          </select>
        </div>
        <button class="btn btn-dark" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive mt-5">
        <ng-container *ngIf="cards$ | async as cards">
          <table class="table table-border">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Img</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let card of cards">
                <td>{{ card.cardId }}</td>
                <td>{{ card.name }}</td>

                <td *ngIf="card.img; else noImg">
                  <i class="fas fa-images"></i>
                </td>
                <ng-template #noImg>
                  <td>
                    <i class="fas fa-times"></i>
                  </td>
                </ng-template>
                <td>
                  <!-- On précice le chemin : parent-parent/card/id -->
                  <a
                    class="btn btn-dark"
                    [routerLink]="['..', 'card', card.cardId]"
                    >Go to {{ card.cardId }}</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<br /><br /><br />

<a class="btn btn-dark" routerLink="/card/1">1</a>
<a class="btn btn-dark" routerLink="/card/2">3</a>
