<ng-container *ngIf="card$ | async as card">
  <div class="container">
    <div class="row justify-content-center">
      <div id="card" class="m-5 shadow">
        <div class="row">
          <div class="offset-1 col-9">
            <h1>{{ card.name }}</h1>
          </div>
          <div class="col-1 px-0 pt-2">
            <span [className]="isGold ? 'gold' : 'silver'">
            <i class="fas fa-icicles"
            (click)="changeSkin()"></i>
          </span>
          </div>
        </div>
        <hr />

        <div class="row centerIt">
            <div *ngIf="card.imgGold && isGold; else silverImg">
              <img src="{{ card.imgGold }}" />
            </div>
            <ng-template #silverImg>
              <img src="{{ card.img }}" />
            </ng-template>
        </div>
      </div>

      <br />
    </div>
  </div>
</ng-container>
