<nav
*ngIf="navbarDisplay | async"
class="shadow-lg navbar navbar-expand-sm navbar-dark bg-dark"
(mouseenter)="isCollapsed = false"
(mouseleave)="isCollapsed = true"
>
  <a class="navbar-brand" href="#">
    <img [attr.src]="logo"/>
  </a>
  <button class="navbar-toggler" type="button"
  (click)="isCollapsed = !isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
  [class.collapse]="isCollapsed"
  id="navbarSupportedContent">
    <ul class="offset-3 offset-md-6 offset-lg-8 navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{ title + ' premium' | uppercase }} Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>

</nav>







<!-- 1 methode : -->
<!-- <img src="{{logo}}" alt="MON LOGO"/> -->

<!-- 2 meilleure façon : -->
<!-- <img [attr.src]="logo"/> -->

<!-- 3 creer le code HTML ssi logo existe -->
<!-- <img *ngIf="logo"
  [attr.src]="logo"/> -->




