<nav
*ngIf="navbarDisplay | async"
class="shadow-lg navbar navbar-expand-sm navbar-dark bg-dark"
(mouseenter)="isCollapsed = false"
(mouseleave)="isCollapsed = true"
>

<!-- routerLink="/cards"> -->
<!-- [routerLink]="['cards']"> -->
<a class="navbar-brand" href="/cards">
    <img [attr.src]="logo"/>
  </a>

  <button class="navbar-toggler" type="button"
  (click)="isCollapsed = !isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
  [class.collapse]="isCollapsed"
  id="navbarSupportedContent">
    <ul class="offset-3 offset-md-6 offset-lg-8 navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/cards">{{ title + ' premium' | uppercase }} <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

</nav>







<!-- 1 methode : -->
<!-- <img src="{{logo}}" alt="MON LOGO"/> -->

<!-- 2 meilleure façon : -->
<!-- <img [attr.src]="logo"/> -->

<!-- 3 creer le code HTML ssi logo existe -->
<!-- <img *ngIf="logo"
  [attr.src]="logo"/> -->




